{% extends 'base.html.twig' %}

{% block title %}Partage tes astuces{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    
<div class="row">
    <div class="col-6 mx-auto formulaire">
<h1 class="h3 mb-3 font-weight-normal text-center">RÉINITIALISEZ VOTRE MOT DE PASSE</h1>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-lg btn-warning my-3 d-block mx-auto">Envoyer</button>
    {{ form_end(requestForm) }}

    </div>
</div>
{% endblock %}
