{% extends 'base.html.twig' %}

{% block title %}Partage tes astuces{% endblock %}

{% block body %}
		<div class="row">
        <div class="col-6 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div> 
    <div class="col-10 mx-auto" >
	<h1 class="titre">Bienvenue sur votre site partage tes astuces</h1>
	</div>
<br>
	<div class="container">
		<div class="row">
			<div class="col-8 mx-auto">						

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/beaute.jpg" class="d-block w-100" alt="image astuce beauté">
    </div>
    <div class="carousel-item">
      <img src="img/deco.jpg" class="d-block w-100" alt="image astuce décoration">
    </div>
    <div class="carousel-item">
      <img src="img/patisserie.jpg" class="d-block w-100" alt="image astuce pâtisserie">
    </div>
    <div class="carousel-item">
      <img src="img/cuisine.jpg" class="d-block w-100" alt="image astuce cuisine">
    </div>
    <div class="carousel-item">
      <img src="img/jardinage.jpg" class="d-block w-100" alt="image astuce jardinage">
    </div>
    <div class="carousel-item">
      <img src="img/chat.jpg" class="d-block w-100" alt="image chat">
    </div>
    <div class="carousel-item">
      <img src="img/etudes.jpg" class="d-block w-100" alt="image chat">
    </div>
    <div class="carousel-item">
      <img src="img/dessin.jpg" class="d-block w-100" alt="image chat">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
          
</div>
	</div>
		</div>


																							                 
				





<p class="card-text my-4 col-5 mx-auto introduction">
Partage tes astuces  est un site dédié au partage d'astuces beauté, décoration, pâtisserie, cuisine, jardinage, animaux de compagnie, études, dessin et peinture.
  <br><strong>Vous aimez partager vos astuces avec les autres ? </strong> <br>  vous êtes au bon endroit, créez votre compte et partagez vos atuces sur le site. <br>
 <strong>Vous cherchez des astuces pratiques?</strong> <br>
  vous pouvez consulter toutes les astuces publiées sur le site.

   
   </p>



{% endblock %}
