{% extends 'base.html.twig' %}

{% block title %}Partage tes astuces{% endblock %}

{% block body %}

<h1>MENTIONS LÉGALES</h1>
<div class="mentions">
<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Partage tes astuces l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</p>
<h3>Edition du site</h3>
<p >Le présent site, accessible à l’URL www.partage-tesastuces.fr <br>
Le Site : www.partage-tesastuces.fr, est édité par :
</p>
<p>Mastoura FELOUAH </p>
<h3>Hébergement</h3>
<p>Le Site est hébergé par la société : <br> IONOS SARL
7, place de la Gare <br>
BP 70109 <br>
57201 Sarreguemines Cedex. <br> Tél : 0970 808 911 </p>
<h3>contact</h3>
<p >
 contact@partage-tesastuces.fr<br>
</p>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</div>


{% endblock %}
